<template>
  <div v-show="showPelicula">
    <h1>{{msg}}</h1>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  name: "Peliculas",
  data() {
    return {
      msg: "Componente para las Peliculas (en desarrollo)"
    };
  },
  computed: mapState({
    showPelicula: "showPelicula"
  })
};
</script>

<style>
</style>
