<template>
  <div
    class="modal fondo"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog altura fondo" role="document">
      <div class="modal-body">
        <h5 class="text-primary">Detalle del Personaje</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nombre : {{detallePersonaje.name}}</li>
          <li class="list-group-item">Height: {{detallePersonaje.height}}</li>
          <li class="list-group-item">Mass: {{detallePersonaje.mass}}</li>
          <li class="list-group-item">Hair Color: {{detallePersonaje.hair_color}}</li>
          <li class="list-group-item">Skin Color: {{detallePersonaje.skin_color}}</li>
          <li class="list-group-item">Eye Color : {{detallePersonaje.eye_color}}</li>
          <li class="list-group-item">Birth Year: {{detallePersonaje.birth_year}}</li>
          <li class="list-group-item">Gender: {{detallePersonaje.gender}}</li>
          <li class="list-group-item">HomeWorld: {{homeworld[index]}}</li>
          <li class="list-group-item">Specie: {{specie[index]}}</li>
          <br>
          <p>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </p>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  name: "DetallePersonaje",
  data() {
    return {};
  },
  computed: mapState({
    personajes: "personajes",
    specie: "species",
    homeworld: "homeworld",
    detallePersonaje: "detallePersonaje",
    index: "index"
  })
};
</script>
<style>
.modal-backdrop {
  opacity: 0.5 !important;
}
.altura {
  height: 50% !important;
}
.fondo {
  background: white !important;
}
</style>
