<template>
  <div>
    <div>
      <DetallePersonaje></DetallePersonaje>
    </div>
    <div v-show="showPersonaje">
      <div class="container">
        <div class="row">
          <h1>Filtrar</h1>
        </div>

        <div class="row">
          <input class="col-md-4" id="nombre" type="text" placeholder="nombre" v-model="castName">

          <select class="col-md-4" name="genero" v-model="castGender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="n/a">n/a</option>
          </select>

          <select class="col-md-4" name="origen" v-model="castHomeworld">
            <option
              v-for="ahomeworld in allHomeworld"
              :key="ahomeworld.id"
              v.bind:value="ahomeworld"
            >{{ahomeworld}}</option>
          </select>
        </div>

        <div class="row">
          <table class="table margen table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Origen</th>
                <th>Genero</th>
                <th>Fecha Nacimiento</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(personaje,index) in personajes"
                :key="personaje.id"
                v-show="findByName(personaje.name) && findByGender(personaje.gender) && findByHomeworld(homeworld[index])"
              >
                <td>{{index}}</td>
                <td>{{ personaje.name}}</td>
                <td>{{ specie[index] }}</td>
                <td>{{homeworld[index]}}</td>
                <td>{{personaje.gender}}</td>
                <td>{{personaje.birth_year}}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    @click="selectedRow(personajes[index],index)"
                  >Ver</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { mapState } from "vuex";
import DetallePersonaje from "@/components/personajes/DetallePersonaje";
export default {
  name: "Personajes",
  data() {
    return {
      castName: "",
      castGender: "",
      castHomeworld: ""
    };
  },
  components: { DetallePersonaje },
  methods: {
    findByName: function(nombre, genero) {
      let name = nombre.toLowerCase();
      let cast = this.castName.toLowerCase();
      if (name.includes(cast) > 0) {
        return true;
      }

      return false;
    },
    findByGender: function(genero) {
      if (genero.includes(this.castGender) > 0) {
        return true;
      }
      return false;
    },
    findByHomeworld: function(homeworld) {
      if (homeworld.includes(this.castHomeworld) > 0) {
        return true;
      }
      return false;
    },
    selectedRow: function(detalle, index) {
      this.$store.state.detallePersonaje = detalle;
      this.$store.state.index = index;
    }
  },
  computed: mapState({
    personajes: "personajes",
    specie: "species",
    homeworld: "homeworld",
    allHomeworld: "allHomeworld",
    showPersonaje: "showPersonaje"
  })
};
</script>

<style>
.margen {
  margin-top: 5%;
}
</style>
