<template>
  <div>
    <div>
      <a href="https://gitlab.com/fernnx2/desafiovuejs" class="btn btn-danger">Ir Readme</a>
    </div>
    <div>
      <Search></Search>
    </div>
  </div>
</template>
<script>
import jquery from "jquery";
import popper from "popper.js";
import "bootstrap";
import "bootstrap/dist/css/bootstrap.min.css";
import Search from "@/components/root/search";

export default {
  name: "Root",
  components: { Search }
};
</script>

<style>
* {
  height: 2.5em;
  padding: 0%;
  margin: 1%;
}
</style>

