<template>
  <div>
    <div>
      <select v-model="option" name="search" id="search">
        <option value="personajes">Personaje</option>
        <option value="peliculas">Peliculas</option>
      </select>
      <input type="button" value="Search" @click="findAllPersonajes">
    </div>
    <div>
      <Personajes></Personajes>
    </div>
    <div>
      <Peliculas></Peliculas>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Personajes from "@/components/personajes/Personajes";
import Peliculas from "@/components/peliculas/Peliculas";
export default {
  name: "Search",
  data() {
    return {
      option: null,
      paginas: 7
    };
  },
  components: { Personajes, Peliculas },
  methods: {
    log: function() {
      console.log(this.options);
    },
    findAllPersonajes: function() {
      if (this.option === "personajes") {
        axios.get("https://swapi.co/api/people/?format=json").then(response => {
          this.$store.state.personajes = response.data.results;
          for (let i of response.data.results) {
            axios.get(i.species[0] + "?format=json").then(response => {
              this.$store.state.species.push(response.data.name);
            });
          }
          for (let i of response.data.results) {
            axios.get(i.homeworld + "?format=json").then(response => {
              this.$store.state.homeworld.push(response.data.name);
            });
          }
        });
        for (let i = 1; i <= this.paginas; i++) {
          axios
            .get("https://swapi.co/api/planets/?page=" + i + "&format=json")
            .then(response => {
              for (let i of response.data.results) {
                this.$store.state.allHomeworld.push(i.name);
              }
            });
        }

        this.$store.state.showPelicula = false;
        this.$store.state.showPersonaje = true;
      } else if (this.option === "peliculas") {
        this.$store.state.showPersonaje = false;
        this.$store.state.showPelicula = true;
      }
    }
  }
};
</script>

<style>
</style>
